<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="FeaturePartitioning.actionSet">
         <menu
               label="Feture Partition &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Partition Action"
               icon="icons/sample.gif"
               class="featurepartitioning.actions.PartitionAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="featurepartitioning.actions.PartitionAction">
         </action>
      </actionSet>
   </extension>

</plugin>
